


/* nav menu start */

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 

.navbar-toggler-button{
    box-shadow: 1px 1px 5px   white;
}
.btn-close{
transition: 1s ;
}

.btn-close:hover{
    transform: rotate(360deg);
    
}



.nav-reservation-btn {
    border:2px solid white;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}

.nav-reservation-btn:hover{
    background-color: white;
    color:black !important;
    opacity: 1;
}



.navmenu-bar{
    z-index:999;
  
   
}


.main-menu > li{
    position: relative;
    /* margin: 0 5px; */
}

hr:not([size]){
    height: 2px;
}
.hr-line{
    
    background-color: white;
    
   opacity: 0;
   visibility: none;
   transform: scaleX(0);
    transform-origin: 0;
    transition: .5s;
    transform-origin: center;
    position: absolute;
   
    width:100%;
    height: 3px;
    color:white;
    margin-top: -5px;
       

}


   
    
    


.main-menu >li:hover > .hr-line{
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
    
    
}

.offcanvas-menu{
    visibility: hidden;
    display: none;
}

/* carousel code start */

.carousel-slide{
    margin-top:-95px;
}

.slider-1-img{

    height: 100vh;
    filter: brightness(.5);
    animation-name: zoomIn;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-origin: center;
}
@keyframes zoomIn{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Poppins', sans-serif;
}

p span{
    font-family: 'Open Sans', sans-serif; 
}


.carousel-caption h2{
    font-size: 52px; 
    font-weight: 700;
    text-transform: uppercase;
}





/* main content code start */

.view-button{
    border-radius: 0;
}

.our-delicious{
    font-family: 'Aguafina Script', cursive;
    font-weight: 700;
    font-size: 36px;
   
}
.new-p-content{
    text-align: justify;
}
.menu-items-food{
    transform: scale(1);
   transition: 1s;
   transform-origin: center;
   

}

.menu-items-food:hover{
    transform: scale(1.2);
   
}

.new-icon-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    padding: 10px ;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 32px;
    
    
}
.new-icon-items-one {
    font-size: 16px;
    color: white;
}

.image-overley{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

.image-new-card{
    transition: 1s;
   

}

.image-new-card:hover{
   border-width: 5px;
   border-color: white;
    transform: rotate(360deg);
}

.book-button-style{
    background-color: #F0AD4E;
    font-weight: 600;
    border:2px solid black;
}

.book-button-style:hover{
    color:white;
}

.new-content-number{
    margin-top: -15px;
}



/* footer code start */
.footer-image{
    width: 180px;
    margin-top: -150px;
    
    
    
}

.all-soicl-icon{
    color: white;
    font-size: 18px;

}

.all-soicl-icon:hover{
    color: yellow;
}

.get-derection{
    color: white;
}

.new-ancor-tag:hover  .get-derection {
    color:yellow;
}

.unorder-item-list li{
    color: white;
    list-style-type: none;
}

.unorder-item-list li a{
    text-decoration: none;
    color: white;
}
.unorder-item-list li:hover a{
    color: yellow;
}

.reservation-button-style{
    
    font-weight: 600;
    border:2px solid white;
    color: white;
    background-color: rgba(255, 0, 0, 0);
}

.reservation-button-style:hover{
    color:black;
    background-color: white;
}



/* Responsive code start */

@media screen and (max-width:991px) {
    .navmenu-bar{
        background-color:#212529;
        position: fixed;
        width: 100%;
        
        
    }

    .hr-line{
        width:60px;
    }

    .offcanvas-menu{
        visibility: visible;
        display:block;
    }
   
    .carousel-slide{
        margin-top:0px;
    }
    .carousel-caption h2{
        font-size: 26px;
        font-weight: 700;
    }
    
}




@media screen and (max-width:600px){
    .slider-1-img{
        /* height:auto; */
    }

    .carousel-caption h2{
        font-size: 20px;
        font-weight: 700;
    }
    .good-p{
        font-size: 14px;
    }
    .slider-1-img{
        height: auto;
    }
}