.navmenu-bar{
    z-index:999;
   
}


.main-menu > li{
    position: relative;
    /* margin: 0 5px; */
}

hr:not([size]){
    height: 2px;
}
.hr-line{
    
    background-color: white;
    
   opacity: 0;
   visibility: none;
   transform: scaleX(0);
    transform-origin: 0;
    transition: .5s;
    transform-origin: center;
    position: absolute;
   
    width:100%;
    height: 3px;
    color:white;
    margin-top: -5px;
       

}

@media screen and (max-width:991px) {
    .hr-line{
        width:60px;
    }
    
}

.main-menu >li:hover > .hr-line{
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
    
    
}

.slider-1-img{
    filter: brightness(.7);
    animation-name: zoomIn;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-origin: center;
}
@keyframes zoomIn{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Poppins', sans-serif;
}

p span{
    font-family: 'Open Sans', sans-serif; 
}



h2{
    font-size: 52px; 
    font-weight: 700;
}

.slider-style{
    margin-top: -250px;
}

@media screen and (max-width:991px) {
    .navmenu-bar{
        background-color:red;
    }
    .slider-style{
        margin-top: 0px;
    }
    
}
@media screen and (max-width:950px) {
    .navmenu-bar{
        background-color:red;
    }
    
}

.view-button{
    border-radius: 0;
}

.our-delicious{
    font-family: 'Aguafina Script', cursive;
    font-weight: 700;
    font-size: 36px;
   
}
.new-p-content{
    text-align: justify;
}
.menu-items-food{
    transform: scale(1);
   transition: 1s;
   transform-origin: center;
   

}

.menu-items-food:hover{
    transform: scale(1.2);
   
}

.new-icon-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    padding: 10px ;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 32px;
    
    
}
.new-icon-items-one {
    font-size: 16px;
    color: white;
}

.image-overley{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

.image-new-card{
    transition: 1s;
   

}

.image-new-card:hover{
   border-width: 5px;
   border-color: white;
    transform: rotate(360deg);
}

.book-button-style{
    background-color: #F0AD4E;
    font-weight: 600;
    border:2px solid black;
}

.book-button-style:hover{
    color:white;
}

.new-content-number{
    margin-top: -15px;
}

.footer-image{
    width: 180px;
    margin-top: -150px;
    
    
    
}

.all-soicl-icon{
    color: white;
    font-size: 18px;

}

.all-soicl-icon:hover{
    color: yellow;
}

.get-derection{
    color: white;
}

.new-ancor-tag:hover  .get-derection {
    color:yellow;
}

.unorder-item-list li{
    color: white;
    list-style-type: none;
}

.unorder-item-list li a{
    text-decoration: none;
    color: white;
}
.unorder-item-list li:hover a{
    color: yellow;
}